node_modules
**/node_modules
.git
.gitignore
.env
.env.*
apps/web
apps/server/data
data
deploy-data
*.md
**/*.md
.DS_Store
**/.DS_Store
dist.tar.gz
apps/web/dist
**/tsconfig.tsbuildinfo
.turbo
**/.turbo
